.toggly-component {
  position: absolute;
  left: 20px;
  top: 21px;
  width: calc(75% - 64px);
}

.toggly-component__status-message {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 22%;
  width: 22%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  color: #7777ff;
}

.toggly-component__parent-buttons {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 0px;
  height: 51px;
  width: 20%;
  overflow: hidden;
}

.toggly-component__parent-buttons__go-back-button {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 0px;
  width: 51px;
  height: 30px;
  padding: 3px 5px 5px 5px;
  background: #73bf43;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toggly-component__parent-buttons__go-back-button:hover {
  background-color: #7dc64e;
}

.toggly-component__parent-buttons__go-back-button:active {
  background-color: #67a83e;
}

.toggly-component__parent-buttons__create-parent-view-button {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 50px;
  width: 51px;
  height: 30px;
  padding: 3px 5px 5px 5px;
  background: #73bf43;
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toggly-component__parent-buttons__create-parent-view-button:hover {
  background-color: #7dc64e;
}

.toggly-component__parent-buttons__create-parent-view-button:active {
  background-color: #67a83e;
}

.toggly-component__object-buttons {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 1px;
  height: 51px;
  width: 56%;
  overflow: hidden;
}

.toggly-component__object-buttons__delete-button {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 220px;
  width: 51px;
  height: 30px;
  padding: 3px 5px 5px 5px;
  background: #feac2f;
  border: 1px solid black;
  border-radius: 5px;
}

.toggly-component__object-buttons__delete-button_disabled {
  background: #efbf77;
}

.toggly-component__object-buttons__delete-button:hover {
  background-color: #feb443;
}

.toggly-component__object-buttons__delete-button_disabled:hover {
  background-color: #efbf77;
}

.toggly-component__object-buttons__delete-button:active {
  background-color: #eb8e00;
}

.toggly-component__object-buttons__delete-button_disabled:active {
  background: #efbf77;
}

.toggly-component__object-buttons__new-circle-blob-button {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 150px;
  width: 51px;
  height: 30px;
  padding: 3px 5px 5px 5px;
  background: #73bf43;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.toggly-component__object-buttons__new-circle-blob-button_disabled {
  background: #98b786;
}

.toggly-component__object-buttons__new-circle-blob-button:hover {
  background-color: #7dc64e;
}

.toggly-component__object-buttons__new-circle-blob-button_disabled:hover {
  background: #98b786;
}

.toggly-component__object-buttons__new-circle-blob-button:active {
  background-color: #67a83e;
}

.toggly-component__object-buttons__new-circle-blob-button_disabled:active {
  background: #98b786;
}

.toggly-component__object-buttons__new-square-blob-button {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 100px;
  width: 51px;
  height: 30px;
  padding: 3px 5px 5px 5px;
  background: #73bf43;
  border: 1px solid black;
}

.toggly-component__object-buttons__new-square-blob-button_disabled {
  background: #98b786;
}

.toggly-component__object-buttons__new-square-blob-button:hover {
  background-color: #7dc64e;
}

.toggly-component__object-buttons__new-square-blob-button_disabled:hover {
  background: #98b786;
}

.toggly-component__object-buttons__new-square-blob-button:active {
  background-color: #67a83e;
}

.toggly-component__object-buttons__new-square-blob-button_disabled:active {
  background: #98b786;
}

.toggly-component__object-buttons__new-solid-link-button {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 50px;
  width: 51px;
  height: 30px;
  padding: 3px 5px 5px 5px;
  background: #73bf43;
  border: 1px solid black;
}

.toggly-component__object-buttons__new-solid-link-button_disabled {
  background: #98b786;
}

.toggly-component__object-buttons__new-solid-link-button:hover {
  background-color: #7dc64e;
}

.toggly-component__object-buttons__new-solid-link-button_disabled:hover {
  background: #98b786;
}

.toggly-component__object-buttons__new-solid-link-button:active {
  background-color: #67a83e;
}

.toggly-component__object-buttons__new-solid-link-button_disabled:active {
  background: #98b786;
}

.toggly-component__object-buttons__new-dashed-link-button {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0px;
  width: 51px;
  height: 30px;
  padding: 3px 5px 5px 5px;
  background: #73bf43;
  border: 1px solid black;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.toggly-component__object-buttons__new-dashed-link-button_disabled {
  background: #98b786;
}

.toggly-component__object-buttons__new-dashed-link-button:hover {
  background-color: #7dc64e;
}

.toggly-component__object-buttons__new-dashed-link-button_disabled:hover {
  background: #98b786;
}

.toggly-component__object-buttons__new-dashed-link-button:active {
  background-color: #67a83e;
}

.toggly-component__object-buttons__new-dashed-link-button_disabled:active {
  background: #98b786;
}

.toggly-component__display {
  display: inline-block;
  position: relative;
  top: 58px;
  width: 100%;
  height: 80%;
  padding-bottom: 72%;
  vertical-align: top;
}

.toggly-component__display__d3-display {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.toggly-component__display__d3-display__svg-window {
  preserveAspectRatio: xMinYMin meet;
  display: inline-block;
  position: absolute;
  top: 1px;
}

.toggly-component__display__d3-display__svg-window__d3-blobs__d3-circle-blob {
  fill: #73bf43;
  stroke: black;
}

.toggly-component__display__d3-display__svg-window__d3-blobs__d3-square-blob {
  fill: #73bf43;
  stroke: black;
}

.toggly-component__display__d3-display__svg-window__d3-blobs_hovered {
  fill: #7dc64e;
}

.toggly-component__display__d3-display__svg-window__d3-blobs_clicked {
  stroke: black;
  fill: #7777ff;
}

.toggly-component__display__d3-display__svg-window__d3-links__d3-solid-link {
  fill: none;
  stroke: #d9d9d9;
  stroke-width: 2;
}

.toggly-component__display__d3-display__svg-window__d3-links__d3-dashed-link {
  fill: none;
  stroke: #d9d9d9;
  stroke-dasharray: 4,2;
  stroke-width: 2;
}

.toggly-component__display__d3-display__svg-window__d3-links_hovered {
  stroke-width: 3;
}

.toggly-component__display__d3-display__svg-window__d3-links_clicked {
  stroke: #7777ff;
}

.toggly-component__display__d3-display__svg-window__d3-externals__d3-source-blob {
  fill: #73bf43;
  opacity: 0.5;
}

.toggly-component__display__d3-display__svg-window__d3-externals__d3-sink-blob {
  fill: #73bf43;
  opacity: 0.5;
}

.toggly-component__display__d3-display__svg-window__d3-externals_hovered {
  stroke: black;
}

.toggly-component__display__d3-display__svg-window__d3-externals_clicked {
  fill: #7777ff;
}

.toggly-component__display__d3-display__svg-window__d3-heading-texts__d3-heading {
  font-family: "Calibri";
  font-size: 22px;
  text-anchor: start;
  fill: black;
  pointer-events: none;
}

.toggly-component__display__d3-display__svg-window__d3-blob-texts__d3-source-text {
  font-family: "Calibri";
  font-size: 12px;
  text-anchor: middle;
  fill: black;
  pointer-events: none;
}

.toggly-component__display__d3-display__svg-window__d3-blob-texts__d3-sink-text {
  font-family: "Calibri";
  font-size: 12px;
  text-anchor: middle;
  fill: black;
  pointer-events: none;
}

.toggly-component__display__d3-display__svg-window__d3-blob-texts__d3-blob-text {
  font-family: "Calibri";
  font-size: 12px;
  text-anchor: middle;
  fill: black;
  pointer-events: none;
}

.toggly-component__display__d3-display__svg-window__d3-blob-texts__d3-blob-text_haslink {
  pointer-events: auto;
  cursor: pointer;
}

.toggly-component__display__d3-display__svg-window__d3-link-texts__d3-link-text {
  font-family: "Calibri";
  font-size: 12px;
  text-anchor: middle;
  fill: black;
  pointer-events: none;
}

.toggly-component__display__d3-display__svg-window__d3-link-texts__d3-link-text_haslink {
  pointer-events: auto;
  cursor: pointer;
}
